[Package]
version: 1
depends:

[Product]
type: localboot
id: hyperv
name: Hyper-V
description:
advice:
version: 10
priority: 0
licenseRequired:
productClasses:
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript:
alwaysScript:
onceScript:
customScript:
userLoginScript:
