[Package]
version: 1
depends:

[Product]
type: localboot
id: wireshark
name: Wireshark
description:
advice:
version: 1
priority: 0
licenseRequired:
productClasses:
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript:
alwaysScript:
onceScript:
customScript:
userLoginScript:
